<div class="row" *ngIf="orientation === 'horizontal'">
  <div class="col-md-6">

      <table class="table table-hover table-sm">
          <thead>
            <tr>
            <th>Bids</th>
            <th>Amount</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bid of bidBook" class="bid">
              <td>{{bid.count}}</td>
              <td class="text-right">{{bid.amount | number:'1.4-4'}}</td>
              <td>{{bid.price | number:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>

  </div>
  <div class="col-md-6">

      <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Price</th>
              <th>Amount</th>
              <th>Asks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ask of askBook" class="ask">
              <td>{{ask.price | number:'1.2-2'}}</td>
              <td class="text-right">{{ask.amount | number:'1.4-4'}}</td>
              <td>{{ask.count}}</td>
            </tr>
          </tbody>
        </table>

  </div>
</div>

<div class="vOrderBook" *ngIf="orientation === 'vertical'">

  <div class="vOrderBookItem">
    <div class="vOrderBookItemCell">Price</div>
    <div class="vOrderBookItemCell text-right">Volume</div>
    <div class="vOrderBookItemCell text-right">Amount</div>
  </div>

  <div class="vOrderBookItem" *ngFor="let ask of askBook">
    <div class="vOrderBookItemCell ask">{{ask.price | number:'1.2-2'}}</div>
    <div class="vOrderBookItemCell text-right">{{ask.amount | number:'1.4-4'}}</div>
    <div class="vOrderBookItemCell text-right">{{ask.levelAmount | number:'1.2-2'}}</div>
  </div>

  <div class="vOrderBookItem" *ngIf="last">
    <div style="width: 100%; text-align: center;" [ngClass]="{ 'blur-out-expand-fwd': true }">
      <h4>
          {{last.orderPrice | number:'1.2-2'}} {{symbol.substring(3).toUpperCase( )}}
      </h4>
    </div>
    <div style="align-self: center; color: #666666;">
      {{last.orderType === 0 ? 'BUY' : 'SELL'}}
    </div>
  </div>


    <!-- <div class="vOrderBookItemCell"><b>{{last.orderPrice | number:'1.2-2'}}</b></div>
    <div class="vOrderBookItemCell text-right" [ngClass]="{ 'blur-out-expand-fwd': true }"><b>{{last.amount | number:'1.4-4'}}</b></div>
    <div class="vOrderBookItemCell text-right"><b>{{last.orderType === 0 ? 'BUY' : 'SELL'}}</b></div>
  </div> -->

  <div class="vOrderBookItem" *ngFor="let bid of bidBook">
    <div class="vOrderBookItemCell bid">{{bid.price | number:'1.2-2'}}</div>
     <div class="vOrderBookItemCell text-right">{{bid.amount | number:'1.4-4'}}</div>
    <div class="vOrderBookItemCell text-right">{{bid.levelAmount | number:'1.2-2'}}</div>
  </div>

</div>




<!-- <div class="row" *ngIf="orientation === 'vertical'">
  <div class="col-md-11">

    <table class="table table-hover table-sm">
      <thead>
        <tr>
        <th>Offers</th>
        <th>Volume</th>
        <th class="text-right">Price</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ask of askBook">
          <td class="ask">{{ask.price | number:'1.2-2'}}</td>
          <td class="text-right">{{ask.amount | number:'1.4-4'}}</td>
          <td class="text-right">{{ask.levelAmount | number:'1.2-2'}}</td>
        </tr>

        <tr *ngIf="last">
          <td><b>{{last.orderPrice | number:'1.2-2'}}</b></td>
          <td class="text-right" [ngClass]="{ 'blur-out-expand-fwd': true }"><b>{{last.amount | number:'1.4-4'}}</b></td>
          <td class="text-right"><b>{{last.orderType === 0 ? 'BUY' : 'SELL'}}</b></td>
        </tr>

        <tr *ngFor="let bid of bidBook">
          <td class="bid">{{bid.price | number:'1.2-2'}}</td>
          <td class="text-right">{{bid.amount | number:'1.4-4'}}</td>
          <td class="text-right">{{bid.levelAmount | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div> -->
