.asset-pair-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  font-size: 20px;
}

.asset-pair {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.asset-pair-exchange {
  flex-basis: 30%;
}

.asset-pair-price {
  flex-basis: 30%;
}

.asset-pair-volume {
  flex-basis: 20%;
}

.asset-pair-change {
  padding-left: 10px;
  flex-basis: 20%;
}

.asset-pair-header-firstSymbol {
  flex-basis: 15%;
}

.asset-pair-header-secondSymbol {
  flex-basis: 15%;
}

.asset-pair-header-price {
  flex-basis: 30%;
}

.asset-pair-header-change {
  padding-left: 25px;
  flex-basis: 40%;
}

.link-container {
  padding: 5px 10px;
  border-top: 1px solid #f00;
  border-right: 1px solid #f00;
}

.link-container:hover {
  background-color: #d8d7d7
}

.header {
  font-size: 20px;
}

a {
  color: #000;
}

.rankingRow {
  border-bottom: 1px solid #d8d7d7;
  border-left: 1px solid #d8d7d7;
  border-right: 1px solid #d8d7d7;
}

.chart-wrapper {
  height: 185px;
}
