<a [routerLink]="['/bitfinex', assetPair.symbol]">
  <div class="row extendedPair borderLight" *ngIf="primaryPair">
    <div class="row">
      <div class="col-md-3">{{assetPair.symbol.substring(0,3)}}</div>
      <div class="col-md-3">{{assetPair.symbol.substring(3)}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.lastPrice | number:'1.2-2'}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.dailyChangePercent | number:'1.2-2'}}</div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p-chart #chart24h type="line" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">{{assetPair.exchange}}</div>
      <div class="col-md-3" [@priceChangeState]="priceChangeState">{{assetPair.symbol.substring(3)}} {{assetPair.tickerMessage?.lastPrice | number:'1.2-2'}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.volume | volumeShortener}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.dailyChangePercent | number:'1.2-2'}}</div>
    </div>

  </div>
  <div class="row simplePair borderLight" *ngIf="!primaryPair">
    <div class="row">
      <div class="col-md-3">{{assetPair.exchange}}</div>
      <div class="col-md-3" [@priceChangeState]="priceChangeState">{{assetPair.symbol.substring(3)}} {{assetPair.tickerMessage?.lastPrice | number:'1.2-2'}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.volume | volumeShortener}}</div>
      <div class="col-md-3">{{assetPair.tickerMessage?.dailyChangePercent | number:'1.2-2'}}</div>
    </div>
  </div>
</a>
