.asset-pair-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  font-size: 20px;
}

.asset-pair {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.asset-pair-exchange {
  flex-basis: 30%;
}

.asset-pair-price {
  flex-basis: 30%;
}

.asset-pair-volume {
  flex-basis: 20%;
}

.asset-pair-change {
  padding-left: 10px;
  flex-basis: 20%;
}

.asset-pair-header-firstSymbol {
  flex-basis: 15%;
}

.asset-pair-header-secondSymbol {
  flex-basis: 15%;
}

.asset-pair-header-price {
  flex-basis: 30%;
}

.asset-pair-header-change {
  padding-left: 70px;
  flex-basis: 40%;
}

.link-container {
  padding: 5px 10px;
  /* border-top: 1px solid rgb(88, 88, 88); */
  border-bottom: 1px solid rgb(88, 88, 88);
  border-right: 1px solid rgb(88, 88, 88);
}

.link-container:hover {
  background-color: #292929
}

.weak {
  color: #8d8d8d;
}

.header {
  font-size: 20px;
}

a {
  color: rgb(201, 201, 201);
  text-decoration: none;
}

.rankingRow {
  border-bottom: 1px solid #d8d7d7;
  border-left: 1px solid #d8d7d7;
  border-right: 1px solid #d8d7d7;
}

.chart-wrapper {
  height: 187px;
  /* width: 362px; */
}

.negative {
  color: rgb(200, 0, 0);;
}

.positive {
  color: rgb(0, 175, 0);
}
