div.simplePair:hover {
  background-color: #d8d7d7
}

div.extendedPair:hover {
  background-color: #d8d7d7
}

.flexItem {
  flex-grow: 1;
}

a {
  color: #000;
}

.borderLight {
  border-right: 1px solid #d8d7d7;
  border-top: 1px solid #d8d7d7;
}
