.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

/* .flexItem {
  flex-basis: 19.95%;
} */

.flexItem {
  /* set min-width to 0 so that the chart-js will be shrinked as soon as the scroll-bar appears
  * without this setting the flex-item won't shrink past its content size */
  min-width: 0;
}

@media (min-width: 1572px) {
  .flexItem {
     flex-basis: 20%;
  }
}

@media (max-width: 1572px) and (min-width: 1175px) {
 .flexItem {
   flex-basis: 25%;
 }
}

@media (max-width: 1175px) and (min-width: 900px) {
 .flexItem {
   flex-basis: 33%;
 }
}

@media (max-width: 900px) {
 .flexItem {
   flex-basis: 50%;
 }
}
