.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;

  font-family: droid sans mono, monospace;
  /* border-bottom: solid 1px #fff; */
  border-bottom: 1px solid rgb(88, 88, 88);
}

.menu-item {
  padding: 5px 10px;
  flex-basis: 20%;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
}
