<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-service-problems>
  Loading...
</app-service-problems> -->

<app-quote>

</app-quote>


<!-- <table>
  <thead>
    <tr><td><b>Movies</b></td></tr>
  </thead>
  <tr *ngFor="let movie of movies">
    <td>{{movie}}</td>
  </tr>
</table>

<table>
  <thead>
    <tr><td><b>Filtered Movies</b> <input type="text" (keyup)="filterMovies(movieFilter.value)" placeholder="Search" #movieFilter></td></tr>
  </thead>
  <tr *ngFor="let movie of filteredMovies">
    <td>{{movie}}</td>
  </tr>
</table>

<div id="foobar"></div> -->
