<div class="container-fluid">
  <div class="row" *ngIf="bitfinexSymbol">

    <div class="col-md-7">
      <app-ticker [symbol]="bitfinexSymbol">
      </app-ticker>
      <br>
      <router-outlet>
      </router-outlet>
      <!-- <app-chart [symbol]="bitfinexSymbol">
      </app-chart> -->
    </div>

    <div class="col-md-3">
      <app-trades [symbol]="bitfinexSymbol">
      </app-trades>
    </div>

    <div class="col-md-2">
      <app-orderbook [symbol]="bitfinexSymbol" orientation="vertical">
      </app-orderbook>
    </div>

  </div>
</div>
